<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently an Engineer at
      <a class="underline-link" href="#" target="_blank">Unemployed</a> . I graduated 2018 from
      <a class="underline-link" href="http://www.nau.edu.ua/en" target="_blank">National Aviation University</a> after completing three awesome three-month personal training at
      <a class="underline-link" href="https://gofriends.com.ua/" target="_blank">GoFriends</a>

   <!--

    <p>
      Oluwafemi Peters a multi-faceted developer who is knowledgeable in HTML/CSS, JavaScript/Node.js, Python and various libraries and frameworks . A true team player offering years of experience in web/software development &mdash; first hands-on in 2015. Seeking the opportunity to provide outstanding, clean code in a collaborative environment. 
    </p>
    
    
   -->
    
    <p> I'm a Organized and dependable engineer successful at managing multiple priorities with a positive attitude. Willingness to take on added responsibilities to meet goals.</p>  
  
    <p> Engaged in designing, developing, and managing complex web
      infrastructures. Detail-oriented, organized and meticulous employee. Works at
      fast pace to meet tight deadlines. Enthusiastic team player ready to
      contribute to company success.
      
       </p>

       <p>
        <strong>When I'm not writing codes</strong>, I'm probably on Youtube, watching a Video,
        or crossing off another item on my bucket list.
      </p>
  


    <!-- {% include employment-status.html %} -->
  </div>
</section>
