<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project theheadline">
      <figure class="project__pic">
        <a href="https://blistabloc.com/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/theheadline/theheadline.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="" target="_blank">the headline</a>
        </div>
        <p>A simple blog designed for sharing news and promotions at the compay The Neighborhood.</p>
      </figcaption>
    </div>

    <div class="project listen">
      <figure class="project__pic phones">
        <a href="https://play.google.com/store/apps/details?id=com.starry.management" target="_blank">
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/listen/listen1.png" alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/listen/listen2.png" alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/listen/listen3.png" alt="">
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="" target="_blank">Listen Beta</a>
        </div>
        <p>Music streaming app that allows users find and listen local artists, create playlists , make a library and listen to podcasts or radio from their mobile phones or computer</p>
      </figcaption>
    </div>

    <div class="project theneighborhood">
      <figure class="project__pic">
        <a href="https://clinquant-donut-8b15da.netlify.app/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/theneighborhood/theneighborhood.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="/" target="_blank">The Neighborhood</a>
        </div>
        <p>Mockup website for The Neighborhood Startup.</p>
      </figcaption>
    </div>
  </div>
</section>
